@use "./variables" as *;

#app {
  .sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    width: $sideBarWidth !important;
    height: 100%;
    background-color: $menuBg;
  }

  .svg-icon {
    margin-right: 12px;
  }

  .el-menu-item {
    &:hover {
      background-color: $menuHover;
    }
  }

  .el-sub-menu__title {
    &:hover {
      background-color: $menuHover;
    }
  }

  .el-sub-menu {
    &.is-active {
      > .el-sub-menu__title {
        color: $subMenuActiveText;
      }
    }

    .el-menu-item {
      background-color: $subMenuBg;

      &:hover {
        background-color: $subMenuHover;
      }
    }
  }
}
